/* ================================ GOOGLE FONT =================================== */
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* =================================== HTML ======================================= */
body{
  overflow: auto;
}

h1{
  color: #000;
}

label{
  color    : #000;
  font-size: 14px;
}

form{
  padding   : 4% 4% 4% 4%;
  background: rgb(255,255,255);
  background: rgba(225,225,225,0.89);
}

button{
  color: #fff;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing   : border-box;
  box-sizing        : border-box;
  margin            : 0;
  padding           : 0;
  text-decoration   : none;
}

.container {
  margin-top: 95px;
}
/* ================================ EDIT PROFILE ======================================== */
#headline,
#name,
#gender,
#hometown,
#occupation,
#facebook{
  width: 100%;
}

.file{
  padding: 2% 0% 0% 0%;
}
/* ================================ INTERESTS ========================================== */
.text {
  width     : 100%;
  text-align: center;
  margin-top: 20px;
  height    : 70px;
}

.area {
  width     : 100%;
  float     : left;
  margin-top: 15px;
}
.addForm{
  width: 42%;
}

.addFormBox{
  padding: 20px;
}

.area .input,
.area .input label {
  width   : 100%;
  float   : left;
  position: relative;
}

.area .input {
  overflow          : hidden;
  border-radius     : 2px;
  color             : #fff;
  background-color  : #26a69a;
  box-shadow        : 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition        : 300ms;
  -webkit-transition: 300ms;
  -ms-transition    : 300ms;
}

.area .input input {
  display: none;
}

.area .input label {
  font-weight       : bold;
  color             : #fff;
  text-align        : center;
  text-transform    : uppercase;
  cursor            : pointer;
  font-size         : 14px;
  z-index           : 3;
  transition        : 300ms;
  -webkit-transition: 300ms;
  -ms-transition    : 300ms;
  height            : 45px;
  line-height       : 45px;
}

.area .input:hover{
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.area .input label:hover {
  letter-spacing: .8px;
}

 .col-3 {
  width  : 25%;
  float  : left;
  padding: 1% 1%;
}
/* ================================ ADD A TRIP ========================================== */
.file{
  padding: 1% 0% 0% 0%;
}
.file1{
  padding: 2% 0% 0% 0%;
}

textarea{
  resize    : vertical;
  max-height: 100px;
}

.addFormBox{
  padding: 20px;
}

#calendar{
  width: 75%;
}

span label{
margin-bottom: 0px !important;
}


.div.col-sm-5,.col-md-6{
  padding-right: 5px !important;
   padding-left : 20px !important;
}

.col-sm-5{
  padding-right: 5px !important;
   padding-left : 20px !important;
}

.col-sm-6{
  padding-right: 5px !important;
    padding-left: 5px !important;
}
.col-md-6{
  padding-right: 0px !important;
   padding-left: 0px !important;
}

p[_ngcontent-c4] {
  padding: none !important;
}
/* ===================================== MY TRIPS ======================================= */
.tripPanel{
  padding  : 0% 0% 0% 0% !important;
  font-size: 14px;
}
#mytrips{
  padding-top: 20px
}

.btn-danger,
.btn-warning,{
  float       : left;
  margin-right: 20%;
  padding: 0% 3% 0% 2%;
}

.btn-danger{
  width: 20%;
  padding: 2% 6% 0% 5%;
}

.btn-warning{
  width: 20%;
  padding: 2% 6% 0% 5%;
}

.image{
  width  : 100%;
  padding: 10% 0% 10% 0;
}

p{
  padding: 5%;
}

p[_ngcontent-c2]{
  padding: 0px !important;
}
/*====================================================================================*/
