/*================================ GOOGLE FONT ===================================*/
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*================================ HTML ==========================================*/
h1{
  color: #000;
}

label{
  color:#000;
  font-size: 16px;
}

 /* *{
  box-sizing: border-box;
} */

 form{
   padding: 4% 4% 4% 4%;
  background: rgb(255,255,255);
  background: rgba(225,225,225,0.89);
  font-size: 16px;
}

button{
  padding: 1% 1% 1% 1%;
  color: #fff;
}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top:40%;
  left:60%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
}
/*================================ INTERESTS ==========================================*/
.text {
   width: 100%;
   text-align: center;
   margin-top: 20px;
   height: 70px;
}

.area {
   width: 100%;
   float: left;
   margin-top: 15px;
}
  .addForm{
    margin-left: 20px;
    padding: 10px;
    width:30%;
  }

.addFormBox{
  padding:20px;
}

.area .input,
.area .input label {
   width: 100%;
   float: left;
   position: relative;
}

.area .input {
   overflow: hidden;
   border-radius: 2px;
   color: #fff;
   background-color: #26a69a;
   box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
   transition: 300ms;
   -webkit-transition: 300ms;
   -ms-transition: 300ms;
}

.area .input input {
   display: none;
}

.area .input label {
   font-weight: 400;
   color: #fff;
   text-align: center;
   text-transform:uppercase;
   cursor: pointer;
   font-size: 14px;
   z-index: 3;
   transition: 300ms;
   -webkit-transition: 300ms;
   -ms-transition: 300ms;
   height: 45px;
   line-height: 45px;
}

.area .input:hover{
  box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.area .input label:hover {
  letter-spacing: .8px;
}

 .col-3 {
   width: 25%;
   float: left;
   padding: 0 15px;
}
/*================================ ADD A TRIP ==========================================*/
/* #image-upload{
  color:white;
} */

textarea{
  resize: vertical;
  max-height: 100px;
}
/*================================= MY TRIPS ==========================================*/
/* .mytrips{
  width: 100%;
  padding: 1% 1% 1% 1%;
} */

li{
  list-style-type: none;
  font-size: 20px;
 }

.btn-default{
  border: 2px solid #26a69a;
  background-color: #26a69a;
  color: #fff;
}

.btn-default:hover,
.btn-default:active,
.btn-default:visited,
.btn-default:focus {
  background-color: #089586;
  border-color: #089586;
}

.btn-default, .btn-primary, .btn-danger{
  margin-top: 3%;
  font-size: 16px;
}

 .box{
  width:100%;
}

 #triplist{
  margin-left: 1%;
}
/*====================================================================================*/
