@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.box{
  padding: 20px;
  background: rgb(255,255,255); /* for IE */
  background: rgba(225,225,225,0.85);
}

.signin{
	margin-top: 2.5%;
	font-size: 12px;
	font-family: Open Sans;
}
button{
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
}
button:hover{
	background-color: #000;
	color: #fff;
	border: 1px solid #000;
}