<p>
  homepage works!
</p>
<!-- <section ng-controller="ArticlesController"> -->
  <div class="page-header">
      <h1>Add Trips</h1>
  </div>

  <!-- <div class="col-md-5"> -->
    <div class="add-trip">
      <!-- <form name="add-trip-form" class="form-horizontal" ng-submit="create(articleForm.$valid)" novalidate> -->
        <fieldset>
          <div class="form-group" show-errors>
            <label for="title">Upload Image</label>
              <input name="image-upload" type="text" ng-model="image-upload" id="image-upload" class="form-control" placeholder="Upload Image of Destination"required>
                <div ng-messages="image-uploadForm.title.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Image is required..</p>
                </div>
          </div>

           <div class="form-group">
            <label for="title">Destination</label>
              <input name="destination" type="text" ng-model="destination" id="destination" class="form-control" placeholder="City, State, Country">
          </div>

          <div class="form-group">
            <label for="title">Transportation</label>
              <input name="transportation" type="text" ng-model="transportation" id="transportation" class="form-control" placeholder="Select">
          </div>

          <div class="form-group">
            <label for="title">Start Date</label>
              <input name="start-date" type="date" ng-model="start-date" id="date" class="form-control" placeholder="MM/DD/YYYY">
          </div>

          <div class="form-group">
            <label for="title">End Date</label>
              <input name="end-date" type="date" ng-model="end-date" id="date" class="form-control" placeholder="MM/DD/YYYY">
          </div>

          <div class="form-group">
            <label for="content">Description</label>
              <textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Please write a brief summary about the boat you are listing.">
              </textarea><br>
          </div>

          <div class="sumbit">
            <button type="submit">Add</button>
          </div>

        </div>
      </div>
    </form>
  </fieldset>
</selection>


