.container{
  width:75%
}

/* Icon set - http://ionicons.com/ */
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.tripprofile {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 1% 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #34495e;
  color: #333;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}

figure.tripprofile * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

figure.tripprofile img {
  max-width: 100%;
  vertical-align: top;
}

figure.tripprofile .image {
  position: relative;
  border-bottom: 4px solid #34495e;
  z-index: 1;
}

figure.tripprofile .image:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #34495e transparent transparent transparent;
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -15px);
  transform: translate(-50%, -15px);
  z-index: -1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

figure.tripprofile .image p {
  font-weight: 500;
  margin: 0;
  padding: 0 30px;
  line-height: 1.6em;
  position: absolute;
  top: 50%;
  width: 100%;
  color: #ffffff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  font-style: italic;
}

figure.tripprofile figcaption {
  background-color: #ffffff;
  padding: 25px;
}

figure.tripprofile h3 {
  margin: 0 0 5px;
  text-transform: uppercase;
  font-weight: 400;
}

figure.tripprofile h3 span {
  font-weight: 800;
}

figure.tripprofile h5 {
  margin: 0 0 15px;
  font-weight: 400;
}

figure.tripprofile i {
  margin-right: 5px;
  display: inline-block;
  font-size: 24px;
  color: #000000;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.05);
}

figure.tripprofile i:hover {
  background-color: #34495e;
  color: white !important;
}

figure.tripprofile:hover .image:before,
figure.tripprofile.hover .image:before {
  border-color: #34495e transparent transparent transparent;
  -webkit-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

figure.tripprofile:hover .image p,
figure.tripprofile.hover .image p {
  opacity: 1;
}

figure.tripprofile:hover img,
figure.tripprofile.hover img {
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* Demo purposes only */
body {
  background-color: #212121;
  padding: 10%;
}

figcaption span{
 font-weight:bold;
}
/*------------------- ICONS -------------------*/
 ion-social-facebook{
  background-color: blue;
}

























/* @import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h1{
  color: #000;
}

h2{
  font-family: Open Sans;
  color: #000;
}

label{
  color: #000 !important;
}

#image-upload{
  color:white;
}

body {
  text-transform: uppercase;
  padding: 50px 0;
}

.box {
  display: flex;
  font-size: 20px;
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  min-height: 200px;
  background: rgb(255,255,255);
  background: rgba(225,225,225,0.89);
} */

/*====================== TRIPS SECTION ======================*/
/* li{
  list-style-type: none;
  font-size: 20px; */
   /* .btn{
    margin-left:100px !important;
  } */
/* }

.btn-default{
  border: 2px solid #26a69a;
  background-color: #26a69a;
  color: #fff;
}

.btn-default:hover,
.btn-default:active,
.btn-default:visited,
.btn-default:focus {
    background-color: #089586;
    border-color: #089586;
}

.btn-default, .btn-primary, .btn-danger{
  margin-top: 3%;
  font-size: 16px;
}

textarea{
  resize: vertical;
max-height: 200px;
} */
