<div class="container">
	<div class="row">
		<div class="box">
			<h1>{{_}}'s trip to {{tripview.Destinations}}</h1>
			<hr>
			<img [src]="tripview.ImageURL"/>
			<p><b>Name:</b>               {{tripview.Name}}</p>
			<p><b>Destinations:</b>       {{tripview.Destinations}}</p>
			<p><b>Start Date:</b>         {{tripview.StartDate|date: shortDate}}</p>
			<p><b>StartDate:</b>          {{tripview.EndDate|date: shortDate}}</p>
			<p><b>Transportation:</b>     {{tripview.ModeOfTransit}}</p>
			<p><b>Price:</b>              {{tripview.Price}}</p>
			<p><b>Description:</b>        {{tripview.Description}}</p>
			<p><b>Travellers:</b>         {{tripview.Travellers}}</p>
			<p><b>Interests:</b>          {{tripview.Intrests}}</p>
		</div>
	</div>
</div>
