<div class="container">
  <div class="row">
    <div>
      <h1><a (click)='goToProfile()'>{{name}}</a>'s trip to {{tripview.Destinations}}</h1>
      <hr>
      <div class="col-sm-3">
        <img class='img-responsive' [src]="tripview.ImageURL" />
      </div>
      <div class="col-sm-5">
        <div class="mytrips">
          <p><img src="/assets/img/headline.png" style="width:4%; height:4%">                 {{tripview.Name}}</p>
          <p><img src="/assets/img/destination.png" style="width:4%; height:4%">              {{tripview.Destinations}}</p>
          <p><img [src] ="getTransImg(tripview.ModeOfTransit)" style="width:4%; height:4%">   {{tripview.ModeOfTransit}}</p>
          <p><img src="/assets/img/price.png" style = "width:4%; height:4%">                  {{tripview.Price|currency:'USD':true:'.2-2'}}</p>
          <p><img src="/assets/img/calendar.png" style="width:4%; height:4%">                 {{tripview.StartDate|date:'shortDate'}}</p>
          <p><img src="/assets/img/calendar.png" style="width:4%; height:4%">                 {{tripview.EndDate|date: 'shortDate'}}</p>
          <p><img src="/assets/img/description.png" style="width:4%; height:4%">              {{tripview.Description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
