<!-- <form> -->
<!--    <img *ngIf  = 'img'[src]             = 'img'/> -->
<!--    <input type = "file" (ngModelChange) = 'updateImg($event)' accept = ".jpg,.jpeg,.png"/>
<input  type        = "text" name            = "email" [(ngModel)]        = 'email' />
<input  type        = "password" name        = "currPass" [(ngModel)]     = 'currentPass'/>
<input  type        = "password" name        = "newPass" [(ngModel)]      = 'newPassword'/>
<input  type        = "password" name        = "confPass" [(ngModel)]     = 'confirmPassword'/>
<button type        = "submit" class         = "btn">Update</button>
</form> -->

<div class="container">
  <div id="profile" class="col-sm-12 col-sm-12" *ngIf='profileview'>
    <h2>PROFILE</h2>
    <hr><br>
    <div class="col-sm-6 col-sm-5" id="profileimage">
      <div class="profileplaceholder">
        <!-- <img [src] = 'profileImage' /> -->
        <img [src]="profileview.ImgURL||'http://placehold.it/250x250'">
      </div>
    </div>
    <div class="col-sm-6 col-sm-6" id="profileimage">
      <div class="form-group">
        <span class="feedback" name="headline" type="text" id="headline"><b>Headline:</b>  {{profileview.Headline}}</span>
      </div><br>
      <div class="form-group">
        <span class="feedback" name="name" type="text" id="name"><b>Name:</b>  {{profileview.Name}}</span>
      </div><br>
      <div class="form-group">
        <!--  <img [src] = 'genderSign' /> -->
        <span class="feedback" name="gender" type="dropdown" id="gender"><b>Gender:</b> {{profileview.Gender}}</span>
      </div><br>
      <div class="form-group">
        <!--  <img [src] = 'locationPin' /> -->
        <span class="feedback" name="hometown" type="text" id="hometown"><b>Hometown:</b>  {{profileview.Hometown}}</span>
      </div><br>
      <div class="form-group">
        <span class="feedback" name="occupation" type="text" id="occupation"><b>Occupation:</b>  {{profileview.Occupation}}</span>
      </div>
    </div>
    <!-- INTEREST BUTTONS -->
    <div id="interests" class="col-sm-12 col-sm-12">
      <div class="form-group">
        <!--  <img [src] = 'interestsIcon' /> --><br>
        <span class="feedback" name="interests" type="text" id="interests"><b>Interests</b>     </span>
    </div>
      <div class="container-fluid">
    <div class="area" *ngFor='let interest of interests'>
      <div class="col-sm-3">
        <span class="input">
        <label>{{interest}}</label>
      </span>
      </div>
    </div>
    </div>
    </div>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="box" style="text-align:left">
      <fieldset>
        <h2>TRIPS</h2>
        <hr><br>
        <div>
          <ul *ngFor="let trip of trips | async">
            <span *ngIf='trip.Owner==id'>
          <img  [src]  = "trip.ImageURL"/>
                        <li>Name       : {{trip.Name}}</li>
                        <li>Destination: {{trip.Destinations}}</li>
                        <li>Price      : {{trip.Price|currency:'USD':true:'.2-2'}}</li>
              <li>Start date           : {{trip.StartDate}}</li>
              <li>End   date           : {{trip.EndDate}}</li>
              </span>

          </ul>
        </div>
      </fieldset>
    </div>
  </div>
</div>