<div class="container">
    <h1>"Life was meant for good friends and great adventures."</h1>
<div class="box">
    <p>"Do you enjoy spontaneous trips and meeting new people?"
       Exotic Adventures is a social platform that allows you to connect to other wanderlusts around the world like yourself.</p>
</div>
<div id="buttons">
    <a href="#" class="btn btn-lg btn-primary ripple" >Join Now</a>
    <a href="#" class="btn btn-lg btn-success" >&nbsp; Log In &nbsp;</a>
</div>
  <!-- <button type="button" class="btn btn-lg btn-primary ripple" >primary</button>
  <button type="button" class="btn btn-lg btn-success" >success</button>
  <button type="button" class="btn btn-lg btn-info" >info</button> -->



 <!-- We have nothing to lose and a world to see.

Life was meant for good friends and great adventures.
To Travel is to Live

Adventures are the best way to learn
Always Take the scenic route

Life is short and the world is wide
You'll never know until you go. --Passport

Wander often. Wonder Always

 "The world is a book and those who do not travel read only one page st augustine"

Wanderluster: Collector of experiences not things

Travel together and get lost in beautiful places

Some beautiful paths cant be discovered without getting lost

Life begins at the end of your comfort zone

travel sparks our imagination feeds our curiosity & reminds us how much we all have in common.
Explore the unseen

Say yes to new adventures -->


