@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.signup{
	font-size: 12px;
	font-family: Open Sans;
}
button{
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
}
button:hover{
	background-color: #000;
	color: #fff;
	border: 1px solid #000;
}