<<<<<<< HEAD
/* You can add global styles to this file, and also import other style files */
=======
/* You can add global styles to this file, and also import other style files */
body{
  background-image: url('./app/img/mountains.jpg');
  background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}
>>>>>>> cc52463f815a8e36a0e9750d10fb2cbd47673351
