<div>
  <form (ngSubmit)="onSubmit()" #tripsForm="ngForm">
    <h1>TRIPS</h1>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" [(ngModel)]="tripedit.Name">
    </div>
    <div class="form-group">
      <label for="destination">Destination</label>
      <input type="text" class="form-control" id="destination" name="destination" placeholder="City, State, Country" [(ngModel)]="tripedit.Destinations">
    </div>
    <div class="form-group">
      <label for="transportation">Transportation</label>
      <select type="dropdown" class="form-control" id="transportation" name="transportation"[(ngModel)]="tripedit.ModeOfTransit">
            <option value="">-- Select --</option>
            <option value="air">Air</option>
            <option value="land">Land</option>
            <option value="water">Water</option>
        </select>
    </div>
    <div class="form-group">
      <label for="start-date">Start Date</label>
      <input type="date" class="form-control" id="start-date" name="start-date" [(ngModel)]="tripedit.StartDate">
    </div>
    <div class="form-group">
      <label for="end-date">End Date</label>
      <input type="date" class="form-control" id="end-date" name="end-date" [(ngModel)]="tripedit.EndDate">
    </div>
    <div class="form-group">
      <label for="name">Price</label>
      <input type="text" class="form-control" id="price" name="price" placeholder="Average Cost" [(ngModel)]="tripedit.Price">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
