<div class="col-sm-2 col-sm-3">
  <form (ngSubmit)="onSubmit()" #tripsForm="ngForm">
    <h1>TRIPS</h1>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" [(ngModel)]="tripedit.name">
    </div>
    <div class="form-group">
      <label for="destination">Destination</label>
      <input type="text" class="form-control" id="destination" name="destination" placeholder="City, State, Country" [(ngModel)]="tripedit.destination">
    </div>
    <div class="form-group">
      <label for="transportation">Transportation</label>
      <select type="dropdown" class="form-control" id="transportation" name="transportation" placeholder="Select" [(ngModel)]="tripedit.transportation">
            <option value="">-- Select --</option>
            <option value="air">Air</option>
            <option value="land">Land</option>
            <option value="water">Water</option>
        </select>
    </div>
    <div class="form-group">
      <label for="start-date">Start Date</label>
      <input type="date" class="form-control" id="start-date" name="start-date" [(ngModel)]="tripedit.transportation">
    </div>
    <div class="form-group">
      <label for="end-date">End Date</label>
      <input type="date" class="form-control" id="end-date" name="end-date" [(ngModel)]="tripedit.start-date">
    </div>
    <div class="form-group">
      <label for="name">Price</label>
      <input type="text" class="form-control" id="price" name="price" placeholder="Average Cost" [(ngModel)]="tripedit.end-date">
    </div>
    <button type="submit" class="btn btn-success">Sumbit</button>
  </form>
</div>
