/* =========================== FONT IMPORT ============================= */
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* =============================== BOX ================================ */
h1{
  font-family: Open Sans;
  color: #000;
}

p{
  font-family: Lora;
  color: #000;
}
.row{
  background: rgb(255,255,255);
  background: rgba(225,225,225,0.89);
  font-size : 14px;
}
#tripedit{
  margin-top: 95px;
}

.mytrips{
  width: 100%;
  line-height: 1.7;
}

form{
  padding   : 4%;
  background: rgb(255,255,255);
  background: rgba(225,225,225,0.89);
  font-size : 14px;
  line-height: 0.5 !important;
  /* margin: 100% 0% 0% 0%; */
  align-content: center;
}
/* ================================================================= */
